<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
       <title>Schemes</title>
       
      </head>
  <body>

    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="-my-8 divide-y-2 divide-gray-100">
            {% for cat_name in data.keys() %}
            
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-700">{{cat_name}}</span>
                <span class="mt-1 text-gray-500 text-sm">12 Jun 2019</span>
              </div>
              <div class="md:flex-grow">
                
                {% for scheme_name in data[cat_name].keys() %}
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{scheme_name}}</h2>
                <p class="leading-relaxed">{{data[cat_name][scheme_name]['desc']}}</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">{{data[cat_name][scheme_name]['url']}}
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <br>
                <br>
                {% endfor %}

              </div>
             
            </div>

            {% endfor %}
            </div>
          </div>
        </div>
      </section>
  </body>
</html>