{% include 'header.html' %}
<div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen">
	<div class="flex flex-col items-center">
		<h2 class="font-bold text-5xl mt-5 tracking-tight">
			Terms and Conditions
		</h2>
    <p class="text-base mt-5 text-center">
			Welcome to Trinetra! These terms and conditions govern your use of our website, accessible at www.trinetra.com.<br>
      By accessing and using the Website, you agree to be bound by these Terms and all applicable laws and regulations.<br>
      If you do not agree with any part of these Terms, please refrain from using the Website.<br>
  </p>
	</div>
<section class="text-gray-600 body-font max-w-screen-xl mx-auto px-5 bg-white min-h-sceen relative">
	<div class="grid divide-y divide-neutral-200 max-w-screen-xl mx-auto mt-10">
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 1. Intellectual Property</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          All content and materials available on the Website, including but not limited to text, graphics, logos, images, videos, and software, are the property of Trinetra or its licensors and are protected by applicable copyright, trademark, and other intellectual property laws. You may not use, reproduce, distribute, modify, or create derivative works of any content from the Website without Trinetra's prior written consent.			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>2. User Conduct</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          You agree to use the Website for lawful purposes and in a manner that does not violate the rights of others, restrict or inhibit their use and enjoyment of the Website, or may damage or impair the Website's functionality. Prohibited activities include but are not limited to:<br>
          1. Attempting to gain unauthorized access to any part of the Website or its server.<br>
          2. Uploading or transmitting any malicious code, viruses, or harmful components.<br>
          3. Interfering with the proper functioning of the Website or its features.<br>
          4. Engaging in any conduct that may violate applicable laws or regulations.<br>
        </details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>3. Privacy Policy</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          Trinetra respects your privacy and is committed to protecting your personal information. Please review our Privacy Policy here for more information on how we collect, use, and protect your data.				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>4. Third-Party Links</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					The Website may contain links to third-party websites or services that are not owned or controlled by Trinetra. We do not endorse or assume any responsibility for the content or practices of these third-party sites. We encourage you to review the terms and privacy policies of any third-party websites you visit.
        </p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 5. Disclaimer of Warranties</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          The Website is provided on as available basis without warranties of any kind, whether express or implied. Trinetra does not warrant that the Website will be error-free, uninterrupted, or free of viruses or other harmful components. Your use of the Website is at your own risk.				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>6. Limitation of Liability</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          In no event shall Trinetra or its officers, directors, employees, or affiliates be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with your use of the Website. This limitation applies even if Trinetra has been advised of the possibility of such damages.				</p>
			</details>
		</div>
    <div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 7. Indemnification</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          You agree to indemnify and hold Trinetra harmless from any claims, losses, liabilities, damages, costs, or expenses arising from your use of the Website or your violation of these Terms.				</p>
			</details>
		</div><div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 8. Modifications to the Terms</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          Trinetra reserves the right to modify or update these Terms at any time without prior notice. Your continued use of the Website after any changes will signify your acceptance of the updated Terms.				</p>
			</details>
		</div>
    <div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 9. Governing Law and Jurisdiction</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          These Terms shall be governed by and construed in accordance with the laws of Karnataka, without regard to its conflicts of law principles. Any disputes arising under these Terms shall be subject to the exclusive jurisdiction of the courts of Karnataka, India.				</p>
			</details>
		</div>
    <div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 10. Contact Us</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
          If you have any questions or concerns about these Terms and Conditions, you may contact us at <a href="{{ url_for('contact') }}">contact@trinetra.com.</a>
        </p>
        </details>
		</div>
	</div>
</div>
<div class="p-20 lg:w-full md:w-full">
	<div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
	<div class="container px-5 py-5
	 mx-auto flex flex-wrap items-center">
	<div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
	  <h1 class="title-font font-medium text-3xl text-gray-900">Thayi Bhagya Scheme(comprehensive Maternal Healthcare)</h1>
	  <p class="leading-relaxed mt-4">The scheme has been designed so that women belonging to BPL families can avail totally cashless treatment in these private hospitals./n
		Under this scheme, the pregnant woman belonging to BPL family can avail delivery services free of cost in the registered private hospital near her house./n She is not required to pay any charges right from the point of admission to discharge. The benefit is limited to the first two live deliveries./n
		The beneficiaries are identified through the ANC cards issued to them./n
		The scheme has been introduced in the six "C" category districts of Gulbarga, Bidar, Raichur, Koppal, Bijapur and Bagalkot and the backward district Chamarajanagar./n
		.</p>
	</div>
  </div>
</section>

{% include 'footer.html' %}