{% include 'header.html' %}

<h2>Welcome to the ADMIN PANEL</h2><br>
<a href="{{ url_for('add') }}">
    <button  class="block mx-auto  mt-4 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
        Add User</button>
</a><br><br>
<a href="{{ url_for('view') }}">
    <button class="block mx-auto  mt-4 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
        List Users</button></a>
<br><br>
<a href="{{ url_for('delete') }}">
    <button class="block mx-auto  mt-4 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
        Delete User</button>
</a><br><br>

{% include 'footer.html' %}