{% include 'header.html' %}

  
    <h3>Remove User from the list</h3>  
  
<form action="{{url_for('deleterecord')}}" method="post">  
    <div class="relative mb-4">
        <label for="phone" class="leading-7 text-sm text-gray-600">Phone Number</label>
        <input type="phone" id="phone" name="phone" pattern="(7|8|9)\d{9}"
            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            required>
    </div>
<input type="submit" value="Submit">  
</form>  
 
{% include 'footer.html' %}