.img {
    border-radius: 50%;
}

input:valid {
    background-color: palegreen;
}

input:invalid {
    background-color: lightpink;
}

a{
    color:blue;
}
table, th, td {
    border: 1px solid black;
  }